

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-javascript {
  background-image: url('./assets/js.png');
}

.icon-css {
  background-image: url('./assets/css.png');
}

.default_file_icon {
  background-image: url('./assets/no-image.png');
}
